{{#each this}}
<h2 class="name-country">{{name}}</h2>
<div class="wrapper">
    <ul class="info">
        <li><strong>Столица:</strong> {{capital}}</li>
        <li><strong>Население:</strong> {{population}}</li>
        <li><strong>Язык:</strong>
            <ul class="languages">
                {{#each languages}}
                <li>
                    {{name}}
                </li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img class="flag" src="{{flag}}" alt="Flag of {{name}}" width="300">
</div>
{{/each}}